<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>282715649612-d1ls57goj3q4ni2ntrggq0lteo999jaq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.282715649612-d1ls57goj3q4ni2ntrggq0lteo999jaq</string>
	<key>API_KEY</key>
	<string>AIzaSyBLLUzGVvrt2irk4W3b15Lqsteytnl4r3I</string>
	<key>GCM_SENDER_ID</key>
	<string>282715649612</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.convertclick.favanswer</string>
	<key>PROJECT_ID</key>
	<string>favanswer-87db5</string>
	<key>STORAGE_BUCKET</key>
	<string>favanswer-87db5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:282715649612:ios:cc0e424c06538dfe9966e9</string>
</dict>
</plist>